@model EscolaDeCursosWebApp.Modulos.ModuloADM.Apresentacao.PainelADMViewModel

@{
    Layout = "_LayoutADM";
    ViewBag.Titulo = "Área do ADM";
}

<div class="row g-3 mb-4">
    <div class="col-sm-6 col-xl">
        <div class="card border-0 shadow-sm h-100">
            <div class="card-body">
                <span class="text-secondary small">Cursos ativos</span>
                <strong class="d-block fs-3">@Model.TotalCursosAtivos</strong>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl">
        <div class="card border-0 shadow-sm h-100">
            <div class="card-body">
                <span class="text-secondary small">Turmas</span>
                <strong class="d-block fs-3">@Model.TotalTurmas</strong>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl">
        <div class="card border-0 shadow-sm h-100">
            <div class="card-body">
                <span class="text-secondary small">Alunos ativos</span>
                <strong class="d-block fs-3">@Model.TotalAlunosAtivos</strong>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl">
        <div class="card border-0 shadow-sm h-100">
            <div class="card-body">
                <span class="text-secondary small">Professores ativos</span>
                <strong class="d-block fs-3">@Model.TotalProfessoresAtivos</strong>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl">
        <div class="card border-0 shadow-sm h-100">
            <div class="card-body">
                <span class="text-secondary small">Matrículas cursando</span>
                <strong class="d-block fs-3">@Model.TotalMatriculasCursando</strong>
            </div>
        </div>
    </div>
</div>

<div class="list-group shadow-sm">
    <a class="list-group-item list-group-item-action" asp-action="ListarAlunos">Gerenciar alunos</a>
    <a class="list-group-item list-group-item-action" asp-action="ListarProfessores">Gerenciar professores</a>
    <a class="list-group-item list-group-item-action" asp-action="ListarCategorias">Gerenciar categorias</a>
    <a class="list-group-item list-group-item-action" asp-action="ListarCursos">Gerenciar cursos</a>
    <a class="list-group-item list-group-item-action" asp-action="ListarTurmas">Gerenciar turmas</a>
</div>